@{
    ViewData["Title"] = "Index";
}
<h1>Creador de Indumentarias</h1>
<a href='@Url.Action("SelectIndumentaria","Home")'>Elige la indumentaria</a>

@if(ViewBag.EquiposIndumentaria!=null){
@foreach (string nombreEquipo in ViewBag.EquiposIndumentaria.Keys)
{
    <h3>hola</h3>
    <img src="@ViewBag.EquiposIndumentaria.Medias">
}

}
