@{
    ViewData["Title"] = "Index";
}
<header>
<h1>Creador de Indumentarias</h1>
<a href='@Url.Action("SelectIndumentaria","Home")'>Elige la indumentaria</a>
</header>



@foreach (string nombreEquipo in ViewBag.EquiposIndumentaria.Keys)
{
    <div>
        <h3>@nombreEquipo</h3>
        <img src="/imagenesCamiseta/@ViewBag.EquiposIndumentaria[nombreEquipo].Camiseta"><br>
        <img src="/imagenesShorts/@ViewBag.EquiposIndumentaria[nombreEquipo].Shorts"><br>
        <img src="/imagenesMedias/@ViewBag.EquiposIndumentaria[nombreEquipo].Medias">
    </div>
    
}


